body {
  background-color: #15202B;
  color: #FFFFFF;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}
button {
  color: #FFFFFF;
  background-color: #2074EE;
  font-size: 16px;
  padding: 14px 40px;
}
hr {
  border:none; /* Adds line dividers to terminak browsers */
}
a:link {
  color: #2074EE;
}
a:visited {
  color: #2074EE;
}
a:hover {
  color: #2074EE;
}
a:active {
  color: #2074EE;
}
.scprime-logo {
  background-image: url(/gui/logo.png);
  background-size: cover;
  height: 40px;
  width: 191px;
}
.monospace {
  font-family: "DejaVu Sans Mono", monospace;
}
.uppercase {
  text-transform: uppercase;
}
.input-wide {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.inline-block {
  display: inline-block;
}
.pad {padding: 20px;}
.grid {display:table;width: 100%;}
.row {display:table-row;width: 100%;}
.col-1 {display: table-cell;width: 100%;}
.col-2 {display: table-cell;width: 50%;}
.col-3 {display: table-cell;width: 33%;}
.col-4 {display: table-cell;width: 25%;}
.col-5 {display: table-cell;width: 20%;}
.no-wrap {white-space: nowrap;}
.left {text-align: left;}
.center {text-align: center;}
.top {vertical-align: top;}
.middle {vertical-align: middle;}
.right {text-align: right;}
.blue {color: #2074EE;}
.yellow {color: #FADA5E;}
.cyan {color: #789D9C;}
.white {color: #FFFFFF;}
.blue-dashed {border-top:2px dashed #2074EE;}
.fade {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, black 200px);
  z-index: 1001;
}
.popup {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #2074EE;
  background-color: #15202B;
  z-index: 1002;
  overflow: auto;
}
.menu {
  position: absolute;
  top:0;
  right:0;
  width: 20%;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  border-radius: 0px 0px 0px 25px;
  border-left: 2px solid #2074EE;
  border-bottom: 2px solid #2074EE;
  background-color: #15202B;
  z-index: 1002;
  overflow: auto;
}
.pagination {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 0px;
  border-radius: 25px 0px 0px 25px;
  border-left: 2px solid #2074EE;
  border-top: 2px solid #2074EE;
  border-bottom: 2px solid #2074EE;
  background-color: #15202B;
  font-weight: normal;
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/gui/fonts/open-sans-v27-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/gui/fonts/open-sans-v27-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
